SUPABASE_URL=###
SUPABASE_KEY=###
SUPABASE_SERVICE_ROLE_KEY=###

OPENROUTER_API_KEY=###
OPENROUTER_DEFAULT_MODEL=###
PUBLIC_SITE_URL=###
PUBLIC_SITE_TITLE=Voice Story
OPENROUTER_REFERER=###
OPENROUTER_SITE_TITLE=Voice Story

ELEVENLABS_API_KEY=###